[Unit]
Description=Firewall Iptables IPv4 IPv6 compatible SystemD
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target
[Service]
Type=oneshot
ExecStart=/etc/iptables/iptables.rules
ExecReload=/etc/iptables/iptables.rules
ExecStop=/etc/iptables/iptables.flush.all
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
